<div class="side-content-wrap">
        <div class="sidebar-left rtl-ps-none ps ps--active-y open" data-perfect-scrollbar="" data-suppress-scroll-x="true">
            <ul class="navigation-left">
                <li class="nav-item active" data-item="dashboard">
                    <div class="nav-item" >
                       <button mat-button class="button-menu">
                            <mat-icon>home</mat-icon>
                            <div class="nav-text">HOME</div>
                        </button>                       
                    </div>
                    <div class="triangle"></div>
                </li>
                <li class="nav-item" data-item="uikits">
                    <div class="nav-item" >
                    <button mat-button class="button-menu">
                            <mat-icon>date_range</mat-icon>
                            <div class="nav-text">EQUIPMENT</div>
                        </button>                       
                    </div>
                    <div class="triangle"></div>                    
                <div class="triangle"></div>
                </li>
                <li class="nav-item" data-item="uikits">
                        <div class="nav-item" >
                        <button mat-button class="button-menu">
                                <mat-icon>messages</mat-icon>
                                <div class="nav-text">EVENTS AND ALERTS</div>
                            </button>                       
                        </div>
                        <div class="triangle"></div>                    
                    <div class="triangle"></div>
                </li>
                <li class="nav-item" data-item="uikits">
                        <div class="nav-item" >
                        <button mat-button class="button-menu">
                                <mat-icon>flip</mat-icon>
                                <div class="nav-text">LOAN DESK</div>
                            </button>                       
                        </div>
                        <div class="triangle"></div>                    
                    <div class="triangle"></div>
                </li>
                <li class="nav-item" data-item="uikits">
                        <div class="nav-item" >
                        <button mat-button class="button-menu">
                                <mat-icon>format_list_bulleted</mat-icon>
                                <div class="nav-text">OTHER SERVICES</div>
                            </button>                       
                        </div>
                        <div class="triangle"></div>                    
                    <div class="triangle"></div>
                </li>
                <li class="nav-item" data-item="uikits">
                        <div class="nav-item" >
                        <button mat-button class="button-menu">
                                <mat-icon>credit_card</mat-icon>
                                <div class="nav-text">TENDER</div>
                            </button>                       
                        </div>
                        <div class="triangle"></div>                    
                    <div class="triangle"></div>
                </li>
    
                <li class="nav-item" data-item="uikits">
                        <div class="nav-item" >
                        <button mat-button class="button-menu">
                                <mat-icon>gps_fixed</mat-icon>
                                <div class="nav-text">ALL ASSETS</div>
                            </button>                       
                        </div>
                        <div class="triangle"></div>                    
                    <div class="triangle"></div>
                </li>
    
                <li class="nav-item" data-item="uikits">
                        <div class="nav-item" >
                        <button mat-button class="button-menu">
                                <mat-icon>flag</mat-icon>
                                <div class="nav-text">PROJECTS</div>
                            </button>                       
                        </div>
                        <div class="triangle"></div>                    
                    <div class="triangle"></div>
                </li>
    
                <li class="nav-item" data-item="uikits">
                        <div class="nav-item" >
                        <button mat-button class="button-menu">
                                <mat-icon>report</mat-icon>
                                <div class="nav-text">REPORTS</div>
                            </button>                       
                        </div>
                        <div class="triangle"></div>                    
                    <div class="triangle"></div>
                </li>
                <li class="nav-item" data-item="uikits">
                        <div class="nav-item" >
                        <button mat-button class="button-menu">
                                <mat-icon>volume_down</mat-icon>
                                <div class="nav-text">MESSAGES</div>
                            </button>                       
                        </div>
                        <div class="triangle"></div>                    
                    <div class="triangle"></div>
                </li>
                <li class="nav-item" data-item="uikits">
                        <div class="nav-item" >
                        <button mat-button class="button-menu">
                                <mat-icon>library_books</mat-icon>
                                <div class="nav-text">DOCUMENTS</div>
                            </button>                       
                        </div>
                        <div class="triangle"></div>                    
                    <div class="triangle"></div>
                </li>
                <li class="nav-item" data-item="uikits">
                        <div class="nav-item" >
                        <button mat-button class="button-menu">
                                <mat-icon>settings_applications</mat-icon>
                                <div class="nav-text">ADMIN PANEL</div>
                            </button>                       
                        </div>
                        <div class="triangle"></div>                    
                    <div class="triangle"></div>
                 </li>
            </ul>
        <div class="ps__rail-x" style="left: 0px; bottom: 0px;"><div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps__rail-y" style="top: 0px; height: 820px; right: 0px;"><div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 550px;"></div></div></div>
    
        <div class="sidebar-left-secondary rtl-ps-none ps open" data-perfect-scrollbar="" data-suppress-scroll-x="true">
            <!-- Submenu Dashboards -->
            <ul class="childNav" data-parent="dashboard" style="display: block;">
                <li class="nav-item">
                    <a class="" href="http://gull-html-laravel.ui-lib.com/dashboard/dashboard1">
                        <i class="nav-icon i-Clock-3"></i>
                        <span class="item-name">Version 1</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="http://gull-html-laravel.ui-lib.com/dashboard/dashboard2" class="">
                        <i class="nav-icon i-Clock-4"></i>
                        <span class="item-name">Version 2</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="" href="http://gull-html-laravel.ui-lib.com/dashboard/dashboard3">
                        <i class="nav-icon i-Over-Time"></i>
                        <span class="item-name">Version 3</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="" href="http://gull-html-laravel.ui-lib.com/dashboard/dashboard4">
                        <i class="nav-icon i-Clock"></i>
                        <span class="item-name">Version 4</span>
                    </a>
                </li>
            </ul>
            <ul class="childNav" data-parent="forms" style="display: none;">
    
                <li class="nav-item">
                    <a class="" href="http://gull-html-laravel.ui-lib.com/forms/forms-basic">
                        <i class="nav-icon i-File-Clipboard-Text--Image"></i>
                        <span class="item-name">Basic Elements</span>
                    </a>
                </li>
    
                <li class="nav-item">
                    <a class="" href="http://gull-html-laravel.ui-lib.com/forms/basic-action-bar">
                        <i class="nav-icon i-File-Clipboard-Text--Image"></i>
                        <span class="item-name">Basic action bar </span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="" href="http://gull-html-laravel.ui-lib.com/forms/form-layouts">
                        <i class="nav-icon i-Split-Vertical"></i>
                        <span class="item-name">Form Layouts</span>
                    </a>
                </li>
    
                <li class="nav-item">
                    <a class="" href="http://gull-html-laravel.ui-lib.com/forms/multi-column-forms">
                        <i class="nav-icon i-Split-Vertical"></i>
                        <span class="item-name">Multi column forms</span>
                    </a>
                </li>
    
                <li class="nav-item">
                    <a class="" href="http://gull-html-laravel.ui-lib.com/forms/form-input-group">
                        <i class="nav-icon i-Receipt-4"></i>
                        <span class="item-name">Input Groups</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="" href="http://gull-html-laravel.ui-lib.com/forms/form-validation">
                        <i class="nav-icon i-Close-Window"></i>
                        <span class="item-name">Form Validation</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="" href="http://gull-html-laravel.ui-lib.com/forms/smartWizard">
                        <i class="nav-icon i-Width-Window"></i>
                        <span class="item-name">Smart Wizard</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="" href="http://gull-html-laravel.ui-lib.com/forms/tagInput">
                        <i class="nav-icon i-Tag-2"></i>
                        <span class="item-name">Tag Input</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="" href="http://gull-html-laravel.ui-lib.com/forms/form-editor">
                        <i class="nav-icon i-Pen-2"></i>
                        <span class="item-name">Rich Editor</span>
                    </a>
                </li>
            </ul>
            <ul class="childNav" data-parent="widgets" style="display: none;">
                <li class="nav-item">
                    <a class="" href="http://gull-html-laravel.ui-lib.com/widgets/card">
                        <i class="nav-icon i-Receipt-4"></i>
                        <span class="item-name">widget card</span>
                    </a>
                </li>
                <li class="nav-item">
    
    
                    <a class="" href="http://gull-html-laravel.ui-lib.com/widgets/statistics">
                        <i class="nav-icon i-Receipt-4"></i>
                        <span class="item-name">widget statistics</span>
                    </a>
                </li>
    
                <li class="nav-item">
    
    
                    <a class="" href="http://gull-html-laravel.ui-lib.com/widgets/list">
                        <i class="nav-icon i-Receipt-4"></i>
                        <span class="item-name">Widget List <span class="ml-2 badge badge-pill badge-danger">
                                New</span></span>
                    </a>
                </li>
    
                <li class="nav-item">
    
    
                    <a class="" href="http://gull-html-laravel.ui-lib.com/widgets/app">
                        <i class="nav-icon i-Receipt-4"></i>
                        <span class="item-name">Widget App <span class="ml-2 badge badge-pill badge-danger"> New</span>
                        </span>
                    </a>
                </li>
                <li class="nav-item">
    
    
                    <a class="" href="http://gull-html-laravel.ui-lib.com/widgets/weather-app">
                        <i class="nav-icon i-Receipt-4"></i>
                        <span class="item-name"> Weather App <span class="ml-2 badge badge-pill badge-danger"> New</span>
                        </span>
                    </a>
                </li>
    
            </ul>
    
            <ul class="childNav" data-parent="charts" style="display: none;">
                <li class="nav-item">
                    <a class="" href="http://gull-html-laravel.ui-lib.com/charts/echarts">
                        <i class="nav-icon i-File-Clipboard-Text--Image"></i>
                        <span class="item-name">echarts</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="" href="http://gull-html-laravel.ui-lib.com/charts/chartjs">
                        <i class="nav-icon i-File-Clipboard-Text--Image"></i>
                        <span class="item-name">ChartJs</span>
                    </a>
                </li>
                <li class="nav-item dropdown-sidemenu">
                    <a>
                        <i class="nav-icon i-File-Clipboard-Text--Image"></i>
                        <span class="item-name">Apex Charts</span>
                        <i class="dd-arrow i-Arrow-Down"></i>
                    </a>
                    <ul class="submenu">
                        <li><a class="" href="http://gull-html-laravel.ui-lib.com/charts/apexAreaCharts">Area Charts</a></li>
                        <li><a class="" href="http://gull-html-laravel.ui-lib.com/charts/apexBarCharts">Bar Charts</a></li>
                        <li><a class="" href="http://gull-html-laravel.ui-lib.com/charts/apexBubbleCharts">Bubble Charts</a></li>
                        <li><a class="" href="http://gull-html-laravel.ui-lib.com/charts/apexColumnCharts">Column Charts</a></li>
                        <li><a class="" href="http://gull-html-laravel.ui-lib.com/charts/apexCandleStickCharts">CandleStick Charts</a></li>
                        <li><a class="" href="http://gull-html-laravel.ui-lib.com/charts/apexLineCharts">Line Charts</a></li>
                        <li><a class="" href="http://gull-html-laravel.ui-lib.com/charts/apexMixCharts">Mix Charts</a></li>
                        <li><a class="" href="http://gull-html-laravel.ui-lib.com/charts/apexPieDonutCharts">PieDonut Charts</a></li>
                        <li><a class="" href="http://gull-html-laravel.ui-lib.com/charts/apexRadarCharts">Radar Charts</a></li>
                        <li><a class="" href="http://gull-html-laravel.ui-lib.com/charts/apexRadialBarCharts">RadialBar Charts</a></li>
                        <li><a class="" href="http://gull-html-laravel.ui-lib.com/charts/apexScatterCharts">Scatter Charts</a></li>
                        <li><a class="" href="http://gull-html-laravel.ui-lib.com/charts/apexSparklineCharts">Sparkline Charts</a></li>
    
                    </ul>
                </li>
    
    
    
    
    
            </ul>
    
            <ul class="childNav" data-parent="apps" style="display: none;">
                <li class="nav-item">
                    <a class="" href="http://gull-html-laravel.ui-lib.com/apps/invoice">
                        <i class="nav-icon i-Add-File"></i>
                        <span class="item-name">Invoice</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="" href="http://gull-html-laravel.ui-lib.com/apps/inbox">
                        <i class="nav-icon i-Email"></i>
                        <span class="item-name">Inbox</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="" href="http://gull-html-laravel.ui-lib.com/apps/chat">
                        <i class="nav-icon i-Speach-Bubble-3"></i>
                        <span class="item-name">Chat</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="" href="http://gull-html-laravel.ui-lib.com/apps/calendar">
                        <i class="nav-icon i-Calendar-4"></i>
                        <span class="item-name">Calendar</span>
                    </a>
                </li>
                <li class="nav-item dropdown-sidemenu">
                    <a>
                        <i class="nav-icon i-Receipt"></i>
                        <span class="item-name">Task Manager <span class=" ml-2 badge badge-pill badge-danger">New</span></span>
                        <i class="dd-arrow i-Arrow-Down"></i>
                    </a>
                    <ul class="submenu">
                        <li>
                            <a class="" href="http://gull-html-laravel.ui-lib.com/apps/task-manager">
                                <i class="nav-icon i-Receipt"></i>
                                <span class="item-name">Task manager</span>
                            </a>
                        </li>
                        <li>
                            <a class="" href="http://gull-html-laravel.ui-lib.com/apps/task-manager-list">
                                <i class="nav-icon i-Receipt-4"></i>
                                <span class="item-name">Task manager list</span>
                            </a>
                        </li>
                        <li>
                            <a class="" href="http://gull-html-laravel.ui-lib.com/apps/toDo">
                                <i class="nav-icon i-Receipt-4"></i>
                                <span class="item-name">Minimal ToDo</span>
                            </a>
                        </li>
                        <li></li>
                    </ul>
                </li>
    
                <li class="nav-item dropdown-sidemenu">
                    <a>
                        <i class="nav-icon i-Cash-Register"></i>
                        <span class="item-name">Ecommerce <span class=" ml-2 badge badge-pill badge-danger">New</span></span>
                        <i class="dd-arrow i-Arrow-Down"></i>
                    </a>
                    <ul class="submenu">
                        <li>
                            <a class="" href="http://gull-html-laravel.ui-lib.com/apps/ecommerce/products">
                                <i class="nav-icon i-Shop-2"></i>
                                <span class="item-name">Products</span>
                            </a>
                        </li>
    
    
                        <li>
                            <a class="" href="http://gull-html-laravel.ui-lib.com/apps/ecommerce/product-details">
                                <i class="nav-icon i-Tag-2"></i>
                                <span class="item-name">Product Details</span>
                            </a>
                        </li>
                        <li>
                            <a class="" href="http://gull-html-laravel.ui-lib.com/apps/ecommerce/cart">
                                <i class="nav-icon i-Add-Cart"></i>
                                <span class="item-name">Cart</span>
                            </a>
                        </li>
    
                        <li>
                            <a class="" href="http://gull-html-laravel.ui-lib.com/apps/ecommerce/checkout">
                                <i class="nav-icon i-Cash-register-2"></i>
                                <span class="item-name">Checkout</span>
                            </a>
                        </li>
                    </ul>
                </li>
    
                <li class="nav-item dropdown-sidemenu">
                    <a>
                        <i class="nav-icon i-Business-ManWoman"></i>
                        <span class="item-name">Contacts<span class=" ml-2 badge badge-pill badge-danger">New</span></span>
                        <i class="dd-arrow i-Arrow-Down"></i>
                    </a>
                    <ul class="submenu">
    
                        <li>
                            <a class="" href="http://gull-html-laravel.ui-lib.com/apps/contacts/contact-list-table">
                                <i class="nav-icon i-Business-Mens"></i>
                                <span class="item-name">Contact Table
                                    
                                </span>
                            </a>
                        </li>
                        <li>
                            <a class="" href="http://gull-html-laravel.ui-lib.com/apps/contacts/lists">
                                <i class="nav-icon i-Business-Mens"></i>
                                <span class="item-name">Contact Lists</span>
                            </a>
                        </li>
                        <li>
                            <a class="" href="http://gull-html-laravel.ui-lib.com/apps/contacts/grid">
                                <i class="nav-icon i-Conference"></i>
                                <span class="item-name">Contact Grid</span>
                            </a>
                        </li>
                        <li>
                            <a class="" href="http://gull-html-laravel.ui-lib.com/apps/contacts/contact-details">
                                <i class="nav-icon i-Find-User"></i>
                                <span class="item-name">Contact Details</span>
                            </a>
                        </li>
    
    
    
                    </ul>
                </li>
    
    
            </ul>
            <ul class="childNav" data-parent="extrakits" style="display: none;">
    
                <li class="nav-item">
                    <a class="" href="http://gull-html-laravel.ui-lib.com/extrakits/dropDown">
                        <i class="nav-icon i-Arrow-Down-in-Circle"></i>
                        <span class="item-name">Dropdown</span>
                    </a>
                </li>
    
                <li class="nav-item">
                    <a class="" href="http://gull-html-laravel.ui-lib.com/extrakits/imageCroper">
                        <i class="nav-icon i-Crop-2"></i>
                        <span class="item-name">Image Cropper</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="" href="http://gull-html-laravel.ui-lib.com/extrakits/loader">
                        <i class="nav-icon i-Loading-3"></i>
                        <span class="item-name">Loaders</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="" href="http://gull-html-laravel.ui-lib.com/extrakits/laddaButton">
                        <i class="nav-icon i-Loading-2"></i>
                        <span class="item-name">Ladda Buttons</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="" href="http://gull-html-laravel.ui-lib.com/extrakits/toastr">
                        <i class="nav-icon i-Bell"></i>
                        <span class="item-name">Toastr</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="" href="http://gull-html-laravel.ui-lib.com/extrakits/sweetAlert">
                        <i class="nav-icon i-Approved-Window"></i>
                        <span class="item-name">Sweet Alerts</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="" href="http://gull-html-laravel.ui-lib.com/extrakits/tour">
                        <i class="nav-icon i-Plane"></i>
                        <span class="item-name">User Tour</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="" href="http://gull-html-laravel.ui-lib.com/extrakits/upload">
                        <i class="nav-icon i-Data-Upload"></i>
                        <span class="item-name">Upload</span>
                    </a>
                </li>
            </ul>
            <ul class="childNav" data-parent="uikits" style="display: none;">
                <li class="nav-item">
                    <a class="" href="http://gull-html-laravel.ui-lib.com/uikits/alerts">
                        <i class="nav-icon i-Bell1"></i>
                        <span class="item-name">Alerts</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="" href="http://gull-html-laravel.ui-lib.com/uikits/accordion">
                        <i class="nav-icon i-Split-Horizontal-2-Window"></i>
                        <span class="item-name">Accordion</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="" href="http://gull-html-laravel.ui-lib.com/uikits/badges">
                        <i class="nav-icon i-Medal-2"></i>
                        <span class="item-name">Badges</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="open" href="http://gull-html-laravel.ui-lib.com/uikits/buttons">
                        <i class="nav-icon i-Cursor-Click"></i>
                        <span class="item-name">Buttons</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="" href="http://gull-html-laravel.ui-lib.com/uikits/bootstrap-tab">
                        <i class="nav-icon i-Cursor-Click"></i>
                        <span class="item-name">Bootstrap tab</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="" href="http://gull-html-laravel.ui-lib.com/uikits/cards">
                        <i class="nav-icon i-Line-Chart-2"></i>
                        <span class="item-name">Cards</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="" href="http://gull-html-laravel.ui-lib.com/uikits/cards-metrics">
                        <i class="nav-icon i-ID-Card"></i>
                        <span class="item-name">Card Metrics</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="" href="http://gull-html-laravel.ui-lib.com/uikits/carousel">
                        <i class="nav-icon i-Video-Photographer"></i>
                        <span class="item-name">Carousels</span>
                    </a>
                </li>
    
                <li class="nav-item">
                    <a class="" href="http://gull-html-laravel.ui-lib.com/uikits/collapsible">
                        <i class="nav-icon i-Video-Photographer"></i>
                        <span class="item-name">Collapsibles</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="" href="http://gull-html-laravel.ui-lib.com/uikits/lists">
                        <i class="nav-icon i-Belt-3"></i>
                        <span class="item-name">Lists</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="" href="http://gull-html-laravel.ui-lib.com/uikits/pagination">
                        <i class="nav-icon i-Arrow-Next"></i>
                        <span class="item-name">Paginations</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="" href="http://gull-html-laravel.ui-lib.com/uikits/popover">
                        <i class="nav-icon i-Speach-Bubble-2"></i>
                        <span class="item-name">Popover</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="" href="http://gull-html-laravel.ui-lib.com/uikits/progressbar">
                        <i class="nav-icon i-Loading"></i>
                        <span class="item-name">Progressbar</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="" href="http://gull-html-laravel.ui-lib.com/uikits/tables">
                        <i class="nav-icon i-File-Horizontal-Text"></i>
                        <span class="item-name">Tables</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="" href="http://gull-html-laravel.ui-lib.com/uikits/tabs">
                        <i class="nav-icon i-New-Tab"></i>
                        <span class="item-name">Tabs</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="" href="http://gull-html-laravel.ui-lib.com/uikits/tooltip">
                        <i class="nav-icon i-Speach-Bubble-8"></i>
                        <span class="item-name">Tooltip</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="" href="http://gull-html-laravel.ui-lib.com/uikits/typography">
                        <i class="nav-icon i-Letter-Open"></i>
                        <span class="item-name">Typography</span>
                    </a>
                </li>
    
                <li class="nav-item">
                    <a class="" href="http://gull-html-laravel.ui-lib.com/uikits/modals">
                        <i class="nav-icon i-Duplicate-Window"></i>
                        <span class="item-name">Modals</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="" href="http://gull-html-laravel.ui-lib.com/uikits/NoUislider">
                        <i class="nav-icon i-Width-Window"></i>
                        <span class="item-name">Sliders</span>
                    </a>
                </li>
            </ul>
            <ul class="childNav" data-parent="sessions" style="display: none;">
                <li class="nav-item">
                    <a href="http://gull-html-laravel.ui-lib.com/sessions/signIn">
                        <i class="nav-icon i-Checked-User"></i>
                        <span class="item-name">Sign in</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="http://gull-html-laravel.ui-lib.com/sessions/signUp">
                        <i class="nav-icon i-Add-User"></i>
                        <span class="item-name">Sign up</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="http://gull-html-laravel.ui-lib.com/sessions/forgot">
                        <i class="nav-icon i-Find-User"></i>
                        <span class="item-name">Forgot</span>
                    </a>
                </li>
            </ul>
            <ul class="childNav" data-parent="others" style="display: none;">
                <li class="nav-item">
                    <a href="http://gull-html-laravel.ui-lib.com/others/notFound">
                        <i class="nav-icon i-Error-404-Window"></i>
                        <span class="item-name">Not Found</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="" href="http://gull-html-laravel.ui-lib.com/others/pricing-table">
                        <i class="nav-icon i-Billing"></i>
                        <span class="item-name">Pricing Table <span class="ml-2 badge badge-pill badge-danger">New</span></span>
                    </a>
                </li>
    
                <li class="nav-item">
                    <a class="" href="http://gull-html-laravel.ui-lib.com/others/search-result">
                        <i class="nav-icon i-File-Search"></i>
                        <span class="item-name">Search Result <span class="badge badge-pill badge-danger">New</span></span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="" href="http://gull-html-laravel.ui-lib.com/others/user-profile">
                        <i class="nav-icon i-Male"></i>
                        <span class="item-name">User Profile</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="" href="http://gull-html-laravel.ui-lib.com/others/faq">
                        <i class="nav-icon i-File-Horizontal"></i>
                        <span class="item-name">faq</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="" href="http://gull-html-laravel.ui-lib.com/others/starter">
                        <i class="nav-icon i-File-Horizontal"></i>
                        <span class="item-name">Blank Page</span>
                    </a>
                </li>
            </ul>
        <div class="ps__rail-x" style="left: 0px; bottom: 0px;"><div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps__rail-y" style="top: 0px; right: 0px;"><div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 0px;"></div></div></div>
        <div class="sidebar-overlay open"></div>
    </div>